.checkout-header {
    margin: 25px;
}

.checkout-table {
    position: relative;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.checkout-table th {
    background-color: #e4d2b3 !important;
    font-weight: bold !important;
    color: #333 !important;
}

.table-item {
    display: flex;
    align-items: flex-start;
}

.checkout-img-box {
    flex-shrink: 0;
    margin-right: 15px;
}

.checkout-img {
    height: 80px;
    width: auto;
    margin: 25px 0;
}

.checkout-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.checkout-item-title {
    display: flex;
    flex-direction: row;
    position: relative;
}

.checkout-item-title p {
    font-size: 18px;
}

.checkout-trashcan {
    margin-top: 10px;
}

.checkout-trashcan:focus,
.checkout-trashcan:active,
.checkout-trashcan:focus-visible {
    outline: none;
    border: none;
}


.checkout-content p {
    margin: 10px 0; 
    position: relative;
}

.go-to-top-button {
    position: fixed;
    top: 50%;
    right: -33px;
    transform: translateY(-50%);
    z-index: 1000;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    animation: slideIn 0.5s ease-out; /* Apply animation */
    transform: rotate(-90deg);
    background-color: #9A8B72 !important;
    opacity: 0.8;
    border-color: #333 !important;
}

.go-to-top-button:hover {
    opacity: 1;
}

@keyframes slideIn {
    0% {
        right: -50px; /* Start position outside of the window */
        opacity: 0; /* Start with 0 opacity */
    }
    100% {
        right: -35px; /* End position inside the window */
        opacity: 0.8; /* Fade in */
    }
}

.checkout-footer {
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .table-item {
        flex-direction: column;
        align-items: center; 
    }

    .checkout-img {
        margin: 0 auto 15px auto;
    }

    .checkout-content {
        display: flex;
        align-items: center;
        text-align: center;
        padding-bottom: 10px;
    }

    .checkout-content p {
        margin: 5px 0;
    }
}