.navbar {
    background-color: #9A8B72;
}

.fa-cart-shopping {
    font-size: 125%;
}

.cart-item {
    padding-bottom: -100px;
    margin-bottom: 0px;
}

.item-price-row {
    position: relative;
    display: flex;
    height: 25px;
}

.item-name {

}

.item-name:hover {
    text-decoration: underline;
}

.remove-btn {
    position: relative;
    margin: 12px 0 0 8px;
}

.remove-btn:hover {
    cursor: pointer;
}

.price {
    position: absolute;
    right: 0;
}

.item-box {
    padding-bottom: -20px;
    height: 60px;
}

.item-qty-box {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 5px;
    position: relative;
}

.decrement-btn,
.increment-btn {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    user-select: none;
}

.decrement-btn:hover,
.increment-btn:hover {
    color: #e0e0e0;
    border-radius: 50%;
    cursor: pointer;
}

.decrement-btn:active,
.increment-btn:active {
    color: green;
}

.checkout-btn {
    background-color: #00b900!important;
    border-color: #00b900 !important;
    cursor: pointer;
    margin: 20px;
}

.checkout-btn:hover {
    background-color: #9A8B72;
    border-color: rgb(251, 242, 213);
}

.checkout-btn:active {
    color: #00b900 !important;
    background-color: white !important;
    border-color: white !important;
    transform: scale(0.98);
}

.total-cont {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
